body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formconfing{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 15rem;
}
label{
    margin: 0.5rem 0;
    font-weight: bold;
}